<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>login</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content class="wrapper">
    <div class="login-area">
        <div class="login-content">
            <div class="login-container">
                <div class="login-sec">
                    <ion-grid>
                        <ion-row ngClass.lt-md="ion-wrap-reverse">
                            <ion-col size="12" size-md="6" class="left-info">
                                <app-login-page-info></app-login-page-info>
                            </ion-col>

                            <ion-col size="12" size-md="6" class="right-main">

                                <div class="sign-in" *ngIf="isPhoneLoginFragment">
                                    <h3 class="sign-in-head">Sign in</h3>

                                    <app-phone-login></app-phone-login>
                                </div> <!-- Sign IN ..-->

                                <div class="sign-in" *ngIf="isLoginEmailFragment">
                                    <h3 class="sign-in-head">Sign in</h3>

                                    <app-email-login></app-email-login>
                                </div> <!-- Sign IN ..-->

                                <div class="sign-in" *ngIf="isSignUpFragment">
                                    <h3 class="sign-in-head">Sign up</h3>
                                    <app-signup-field></app-signup-field>
                                </div> <!-- Sign UP ..-->

                                <!--                                            Login Resource-->
                                <div class="login-resources">
                                    <h4>Login With...</h4>

                                    <ion-button *ngIf="isLoginEmailFragment || isSignUpFragment" (click)="onPhoneLoginFragment()" class="phone social-login-btn" expand="block">
                                        <div class="btn-content">
                                            <img src="../../../assets/icon/phone.svg" alt="">
                                            <span>Phone</span>
                                        </div>
                                    </ion-button>

                                    <ion-button *ngIf="!isLoginEmailFragment" (click)="onEmailLoginFragment()" class="email social-login-btn" expand="block">
                                        <div class="btn-content">
                                            <img src="../../../assets/icon/mail.svg" alt="">
                                            <span>Email</span>
                                        </div>
                                    </ion-button>

                                    <ion-button class="facebook social-login-btn" expand="block" (click)="onFacebookAuth()">
                                        <div class="btn-content">
                                            <img src="../../../assets/icon/facebook.svg" alt="">
                                            <span>Facebook</span>
                                        </div>
                                    </ion-button>
                                    <ion-button class="google social-login-btn" expand="block" (click)="onGoogleAuth()">
                                        <div class="btn-content">
                                            <img src="../../../assets/icon/google.svg" alt="">
                                            <span>Google</span>
                                        </div>
                                    </ion-button>

                                    <div class="signup-btn">
                                        <ion-button fill="outline" expand="block" color="tertiary" (click)="onSignUpFragment()">
                                            <ion-icon slot="start" name="mail-outline"></ion-icon>
                                            Create account with Email
                                        </ion-button>
                                    </div>


                                </div>


                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div> <!-- MAIN LOGIN CARD -->

        <div class="footer">
            <div class="link-area">
                <ul class="left">
                    <li><a class="link" href="#">Help Center</a></li>
                    <li><a class="link" href="#">Privacy Policy</a></li>
                    <li><a class="link" href="#">Cookies Policy</a></li>
                    <li><a class="link" href="#">Copyright Policy</a></li>
                </ul>
                <div class="right">
                    <p>&copy; Copyright 2020 All Right Reserved StarDigi International</p>
                </div>
            </div>
        </div> <!-- LOGIN FOOTER -->
    </div>



</ion-content>
