.wrapper {
  --ion-background-color: #F05922;
}

/* ================= sign-in ================ */


.login-area {
  margin-top: 50px;
}

.left-info{
  padding: 35px;
}
.right-main{
  padding: 35px;
}
.login-content{
  width: 870px;
  margin: 0 auto;
  position: relative;
}
// Top Bubble
.login-content:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 56px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.login-content:after {
  content: '';
  position: absolute;
  top: -37px;
  left: 43px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.login-container {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

// Right Border...
.login-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background-color: #f0f0f0;
}

/* =============== login-sec ============= */


.login-sec {
  width: 100%;
  padding: 10px 0;

}

// Down Bubble...
.login-sec:before {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 70px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #fff;
}
.login-sec:after {
  content: '';
  position: absolute;
  bottom: -40px;
  right: 55px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #fff;
}


.sign-in-head{
  font-family: CircularStdMedium, sans-serif;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  // font-family: 'CircularStdMedium', sans-serif;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36px;
    height: 2px;
    background-color: #e44d3a;
  }
}


.login-resources {
  margin-top: 35px;
  h4 {
    color: #545454;
    text-align: center;
    font-family: CircularStdMedium, sans-serif;
    margin-bottom: 22px;
  }
}

.phone {
  --background: #05B05F ;
}

.google {
  --background: #D74720;
}

.facebook {
  --background: #4267B2;
}
.email {
  --background: #9832F3;
}
.social-login-btn {
  margin-bottom: 20px;
}

.btn-logo {
  margin-right: 0;
}

//.btn-group {
//  width: 60%;
//  margin: 0 auto;
//}

.btn-content {
  display: inline-block;
  width: 80%;
  margin: auto;
  .icon {
    // width: 20%;
  }
  img {
    float: left;
    width: 16px;
    // margin-right: 20px;
  }

  span {
    margin-left: 30px;
    text-align: left;
    font-family: 'CircularStd', sans-serif;
    // width: 60%;
    float: left;
    font-size: 14.5px;
  }
}

.signup-btn {
  margin-top: 40px;
}


// Login Footer...
.footer {
  width: 70%;
  margin: auto;

  .link-area{
    margin-top: 85px;
    width: 100%;

    .left {
      float: left;
    }

    ul {
      padding: 0;
      li {
        display: inline-block;
        border-right: 1px solid #ffffff;
        &:last-child {
          border-right: none;
        }
      }
    }

    .link {
      font-family: CircularStd, sans-serif;
      font-size: 14px;
      color: #ffffff;
      padding: 15px;
      text-decoration: none;
    }

    .right {
      float: right;

      p {
        text-align: center;
        font-family: CircularStd, sans-serif;
        color: #ffffff;
        font-size: 15px;
      }
    }
  }
}

// Responsive..
@media only screen and (max-device-width: 767px) {
  .login-content{
    width: 85%;
  }

  .left-info{
    padding: 10px;
  }
  .right-main{
    padding: 10px;
  }

  // Right Border...
  .login-container:before {
    width: 0;
  }

  // Login With...
  .login-resources {
    // margin-top: 35px;
    h4 {
      margin-bottom: 18px;
    }
  }
  .social-login-btn {
    margin-bottom: 20px;
  }

  .btn-logo {
    margin-right: 0;
  }

  .btn-content {
    img {
      float: left;
      width: 15px;
      // margin-right: 20px;
    }

    span {
      font-size: 14px;
    }
  }

  .signup-btn {
    margin-top: 40px;
    ion-button {
      font-size: 13px;
      font-family: 'CircularStd', sans-serif;
    }
  }

  // Login Footer...
  .footer {
    width: 100%;
    margin-top: 85px;

    .link-area{
      width: 90%;
      margin: auto;

      .left {
        width: 100%;
      }

      ul {
        text-align: center;
        li {
          border-right: none;
        }
      }

      .link {
        font-size: 13px;
        padding: 15px;
      }

      .right {
        width: 100%;

        p {
          font-size: 16px;
        }
      }
    }
  }

}

//@media only screen and (max-width: 1450px) and (min-width: 699px){
//  .containers {
//    width: 90%;
//  }
//
//  .logo {
//    h4 {
//      font-size: 30px;
//    }
//  }
//}


