
  <div class="login-area">
    <div class="login-content">
      <div class="login-container">
<!--          {{userInfo | json}}-->
        <form class="login-sec" #f="ngForm" (ngSubmit)="onSubmit(f, navigateUrl)">
<!--          <h3 class="sign-in-head">Complete Your Profile</h3>-->
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">

                <div class="left-area">
                  <div class="top">
                    <div class="avatar">
                        <img [src]="existsProfilePic !== '' ? existsProfilePic : avatar" [ngClass]="{'img-circle': existsProfilePic !== ''}" />
                    </div>
                    <div class="upload-btn">
                        <input [hidden]="true" #profileImagePicker type="file" (change)="fileProfileChangeEvent($event)" accept="image/*" />
                        <ion-button (click)="profileImagePicker.click()" fill="outline">Update Picture</ion-button>
                    </div>
                  </div>

                  <ion-item>
                    <ion-label position="floating">First Name</ion-label>
                    <ion-input [ngModel]="existsFirstName" name="firstName"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Last Name</ion-label>
                    <ion-input [ngModel]="existsLastName" name="lastName"></ion-input>
                  </ion-item>

                    <ion-item [disabled]="disableEmailField">
                        <ion-label position="floating">Email Address</ion-label>
                        <ion-input [ngModel]="existsEmail" name="email"></ion-input>
                    </ion-item>

                    <ion-item [disabled]="disablePhoneField">
                        <ion-label position="floating">Phone Number</ion-label>
                        <ion-input [ngModel]="existsPhone" name="phone"></ion-input>
                    </ion-item>

                </div>

              </ion-col>

              <ion-col size="12" size-md="6" class="right-main">
                <h3 class="sign-in-head">Additional Profile Info</h3>

                <div class="sign-in">

                    <ion-item>
                      <ion-label position="floating">Address</ion-label>
                      <ion-input [ngModel]="existsAddress" name="address"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">Birth Date</ion-label>
                        <ion-datetime
                                [ngModel]="existsBirthDate"
                                name="birthDate"
                                display-format="YYYY MMMM DD">
                        </ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label>Blood Group</ion-label>
                        <ion-select placeholder="Select One" [ngModel]="existsBloodGroup" name="bloodGroup">
                            <ion-select-option value="A+">A+</ion-select-option>
                            <ion-select-option value="A-">A-</ion-select-option>
                            <ion-select-option value="B+">B+</ion-select-option>
                            <ion-select-option value="B-">B-</ion-select-option>
                            <ion-select-option value="O+">O+</ion-select-option>
                            <ion-select-option value="O-">O-</ion-select-option>
                            <ion-select-option value="AB+">AB+</ion-select-option>
                            <ion-select-option value="AB-">AB-</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Study Info</ion-label>
                      <ion-input [ngModel]="existsStudyInfo" name="studyInfo"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Refer Code</ion-label>
                      <ion-input ngModel name="referCode"></ion-input>
                    </ion-item>


                    <div class="btn-group">
                        <ion-button type="submit" class="ion-float-left">{{mobileQuery.matches? 'Update': 'Update Profile'}}</ion-button>
                        <ion-button [routerLink]="navigateUrl" fill="outline" class="ion-float-end" color="medium" type="button">{{mobileQuery.matches? 'Skip': 'Skip Now'}}</ion-button>
                    </div>

                </div> <!-- Sign IN ..-->

              </ion-col>
            </ion-row>
          </ion-grid>
        </form> <!-- END of FORM -->
      </div>
    </div> <!-- MAIN LOGIN CARD -->

  </div>



<!--For Dialog-->
<ng-template #imgCropperTemplate>
    <!--        <mat-spinner *ngIf="isLoaded"></mat-spinner>-->
    <div class="spin" *ngIf="!isLoaded">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>
    <!--        <ion-spinner *ngIf="isLoaded" name="dots"></ion-spinner>-->
    <!--        <h2 style="color: #ff4b1a">Image Upload</h2>-->
    <image-cropper
            [roundCropper]="true"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            format="jpeg"
            [resizeToWidth]="600"
            [resizeToHeight]="600"
            [imageQuality]="95"
            (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <div class="" *ngIf="isLoaded">
        <ion-button color="medium" fill="outline" class="ion-float-left" (click)="onCloseDialogue()">Close</ion-button>
        <ion-button class="ion-float-right" (click)="uploadProfileImage()">Save</ion-button>
    </div>
</ng-template>

