<app-phone-login *ngIf="isClickPhoneLoginBtn; else emailLoginField"></app-phone-login>
<div class="">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
<!--        <ion-button *ngIf="isClickPhoneLoginBtn" (click)="onPhoneLogin()" class="ion-float-left" type="submit" color="primary">Sign In</ion-button>-->
        <ion-button *ngIf="isClickEmailLoginBtn" (click)="onEmailLogin()" class="ion-float-left" type="submit" color="primary">Sign In</ion-button>

        <ion-button *ngIf="isClickPhoneLoginBtn && !isClickEmailLoginBtn" (click)="emailLogin()" class="ion-float-right">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!isClickPhoneLoginBtn && isClickEmailLoginBtn" (click)="phoneLogin()" class="ion-float-right">
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>



<!--Email Login Form...-->
<ng-template #emailLoginField>
  <form [formGroup]="emailLoginForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="sn-field">
            <input formControlName="email" type="email" name="email" placeholder="Email">
            <ion-icon name="mail-outline"></ion-icon>
          </div><!--sn-field end-->
          <div class="sn-field">
            <input formControlName="password" type="password" name="password" placeholder="Password">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div><!--sn-field end-->
        </ion-col>
        <ion-col size="12">
          <div class="checky-sec">
            <a href="#" title="">Forgot Password?</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>
