<ion-toolbar color="primary" *ngIf="!mobileQuery.matches">

  <ion-buttons slot="end">
    <ion-button (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <div class="containers" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="logo" routerLink="/">
<!--      <img src="../../assets/images/logo_star_white.svg" alt="">-->
      <img src="../../assets/logo/starnote_semi_bolt_white_logo.svg" alt="">
    </div>

    <div class="search-bar">
      <form>
        <input class="search-input" type="text" name="search" placeholder="Search...">
        <button type="submit"><span><img src="../../assets/icon/search.svg" alt=""></span></button>
      </form>
    </div><!--search-bar end-->


    <div class="custom-nav-btn">
      <nav class="desktop-nav">
        <ul class="nav-list">
          <li routerLink="/">
            <a>
              <span><i class="fa fa-home icon"></i>Home</span>
            </a>
          </li>

          <li routerLink="/coming-soon">
            <a>
              <span><i class="fa fa-comment icon"></i>Message</span>
            </a>
          </li>

          <li routerLink="/my-profile">
            <a>
              <span><i class="fa fa-user icon"></i>Profile</span>
            </a>
          </li>

          <li routerLink="/coming-soon">
            <a>
              <span><i class="fa fa-bell icon"></i>Notification</span>
            </a>
          </li>

          <li routerLink="/coming-soon" *ngIf="showFriends">
            <a>
              <span><i class="fa fa-user-plus icon"></i>Friends</span>
            </a>
          </li>

          <li routerLink="/coming-soon" *ngIf="showLeaderBoard">
            <a>
              <span><i class="fa fa-gamepad icon"></i>Leaderboard</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div><!-- END of Navbar containers -->


</ion-toolbar>


<ion-toolbar color="primary" *ngIf="mobileQuery.matches">


  <ion-buttons slot="start">
    <ion-menu-button menu="main"></ion-menu-button>
  </ion-buttons>

    <div class="logo" style="width: 96px; " routerLink="/">
      <img style="width: 100%; " src="../../assets/logo/starnote_semi_bolt_white_logo.svg" alt="">
    </div>

  <ion-buttons slot="end">
    <!--    <ion-button class="notification-btn" slot="icon-only" fill="clear">-->
    <!--      <ion-badge color="danger">{{ 34 }}</ion-badge>-->
    <!--      <ion-icon name="notifications"></ion-icon>-->
    <!--    </ion-button>-->

    <div class="">
      <ion-button routerLink="/coming-soon">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="/coming-soon">
        <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="/coming-soon">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-buttons>

</ion-toolbar>







