


.reaction-bottom {
  border-top: 1px solid #e5e5e5;
  .count-top {
    width: 100%;

    .like-count {
      .icon {
        position: relative;
        top: 0;
        left: 0;
        font-size: 20px;
        margin-right: 5px;
      }
      span {
        margin-left: 5px;
        font-size: 18px;
        color: var(--ion-color-primary);
      }
    }

    .comment-count {
      span {
        font-size: 18px;
        color: #727272;
      }
    }
    // padding: 2px 8px;
  }
  .block-btn {
    span {
      font-family: 'CircularStdMedium', sans-serif;
      font-size: 16px;
    }

    .icon {
      margin-right: 8px;
      position: relative;
      font-size: 22px;
      top: 4px;
      left: 0;
    }
  }
}

@media only screen and (max-device-width: 767px) {
  .reaction-bottom {
    .count-top {
      .like-count {
        .icon {
        }
        span {
          margin-left: 5px;
          font-size: 17px;
        }
      }

      .comment-count {
        span {
          font-size: 17px;
        }
      }
    }
    .block-btn {
      span {
        font-family: 'CircularStdMedium', sans-serif;
        font-size: 14px;
      }

      .icon {
        margin-right: 8px;
        position: relative;
        font-size: 20px;
        top: 4px;
        left: 0;
      }
    }
  }
}


