<ion-app>
  <ion-menu
          class="side-menu"
          side="start"
          menuId="main"
          contentId="my-content"
          [swipeGesture]="mobileQuery.matches">

<!--    <ion-header collapse="true">-->
<!--      <ion-toolbar>-->
<!--        <div class="short-profile" fxLayout="column" fxLayoutAlign="center center">-->
<!--          <ion-avatar>-->
<!--            <img src="../assets/images/girl.jpeg" alt="">-->
<!--          </ion-avatar>-->
<!--          <h4>Israt Intia</h4>-->
<!--          <ion-button fill="outline" color="light">Profile Update</ion-button>-->
<!--        </div>-->
<!--&lt;!&ndash;        <ion-title>Starnote Social</ion-title>&ndash;&gt;-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->

    <ion-content>
      <app-mobile-sidebar-content></app-mobile-sidebar-content>
    </ion-content>

  </ion-menu>

  <ion-router-outlet  id="my-content" ></ion-router-outlet>
</ion-app>
