<ion-header>
  <star-toolbar></star-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
             (ionScroll)="logScrolling($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-button [hidden]="!viewScrollBtn" shape="round" class="scroll-top-btn" fill="clear" (click)="scrollTopContent()">
    <ion-icon slot="icon-only" name="arrow-up-outline"></ion-icon>
  </ion-button>

  <div class="container">
<!--    <ion-button (click)="loadMore()">Load</ion-button>-->
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="!mobileQuery.matches" class="left-area" size="12" size-md="3">

          <profile-short-view></profile-short-view>

          <div class="suggestion full-width">
            <div class="header-sugg">
              <h3>Suggestions</h3>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div><!--user-data end-->

        </ion-col> <!--END of Left Sidebar-->

        <ion-col class="main" size="12" size-md="6">
          <div *ngIf="user$ | async; else loading; let userInfo" class="post-topbar" routerLink="/create-post">
            <div class="user-picy">
              <img [src]="!userInfo.imageThumbnail ? '../../../assets/images/girl.jpeg' : userInfo.imageThumbnail" alt="">
            </div>
            <div class="status">
              <h6>Write Something...</h6>
            </div>
            <div class="post-st">
              <ul>
                <li><a class="post_project" title="">Write a Post</a></li>
<!--                <li><a class="post-jb active" href="#" title="">Write a Post</a></li>-->
              </ul>
            </div><!--post-st end-->
          </div><!--post-topbar end-->
          <!-- *ngIf="combinedPosts$ | async; else loading; let posts" -->

          <app-post-feed-view *ngFor="let post of postList | reverse" [userPost]="post"></app-post-feed-view>

          <ion-infinite-scroll *ngIf="this.finishedLoading !== true" (ionInfinite)="onInfiniteScroll($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>


        </ion-col> <!-- END of News Feed -->


        <ion-col size="12" size-md="3" class="right-area" *ngIf="!mobileQuery.matches">

          <app-app-download-banner></app-app-download-banner>

          <div class="widget widget-about">
<!--            <img src="../../../assets/images/starnote_social_icon_logo.jpg" alt="">-->
<!--            <h3>Your Day with Starnote Social</h3>-->
<!--            <span>Pay only for the Hours worked</span>-->
<!--            <div class="sign_link">-->
<!--              <h3><a href="#" title="">About Starnote Social</a></h3>-->
<!--              <a href="#" title="">Learn More</a>-->
<!--            </div>-->
          </div><!--widget-about end-->

          <app-user-online></app-user-online>

        </ion-col><!--END of Right Sidebar-->

      </ion-row>
    </ion-grid>
  </div>

  <ng-template #loading>
    <div class="spin">
      <ion-spinner color="primary" name="dots"></ion-spinner>
    </div>
  </ng-template>

</ion-content>
