<ion-header>
  <star-toolbar></star-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
<!--    <ion-button (click)="loadMore()">Load</ion-button>-->
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="!mobileQuery.matches" class="left-area" size="12" size-md="3">

          <profile-short-view></profile-short-view>

          <div class="suggestion full-width">
            <div class="header-sugg">
              <h3>Suggestions</h3>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="profile_topbar">
              <div class="user-detail">
                <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Graphic Designer</span>
                </div>
              </div>
              <div class="add-op">
                <a href="#" title="" class="ed-opts-open"><i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div><!--user-data end-->

        </ion-col> <!--END of Left Sidebar-->

        <ion-col class="main" size="12" size-md="6">
          <div class="post-topbar" routerLink="/create-post">
            <div class="user-picy">
              <img src="../../../assets/images/girl.jpeg" alt="">
            </div>
            <div class="status">
              <h6>Write Something...</h6>
            </div>
            <div class="post-st">
              <ul>
                <li><a class="post_project" title="">Write a Post</a></li>
<!--                <li><a class="post-jb active" href="#" title="">Write a Post</a></li>-->
              </ul>
            </div><!--post-st end-->
          </div><!--post-topbar end-->
          <!-- *ngIf="combinedPosts$ | async; else loading; let posts" -->

<!--          <ion-button (click)="doRefresh()">Refresh</ion-button>-->

          <div class="posts-section">
<!--            {{combinedPosts$ | async | json}}-->
            <div class="post-bar" *ngFor="let post of postList | reverse">
              <!-- Post Author Top -->
              <post-auth [authorID]="post.authorID" [postDate]="post.date"></post-auth>
              <!-- Main Post View -->
              <div class="post-view">
                <app-text-background *ngIf="post.postDescription && !post.postThumbnail" [textOnly]="post.postDescription"></app-text-background>
                <div class="text-view" *ngIf="post.postDescription && post.postThumbnail">
                  <p> {{post.postDescription}}</p>
                </div>
                <div class="image-view" *ngIf="post.postImage">
                  <img [src]="post.postImage" [alt]="'[Image Thumbnail]'">
                </div>
              </div>
              <!-- Reaction Bottom -->
              <user-reaction [postID]="post.postID"></user-reaction>
            </div><!--post-bar end-->

            <ion-infinite-scroll *ngIf="this.finishedLoading !== true" (ionInfinite)="onInfiniteScroll($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>

          </div>
        </ion-col> <!-- END of News Feed -->

        <ion-col size="12" size-md="3" class="right-area" *ngIf="!mobileQuery.matches">
          <div class="widget widget-about">
            <img src="../../../assets/images/starnote_social_icon_logo.jpg" alt="">
            <h3>Your Day with Starnote Social</h3>
            <span>Pay only for the Hours worked</span>
            <div class="sign_link">
              <h3><a href="#" title="">About Starnote Social</a></h3>
              <a href="#" title="">Learn More</a>
            </div>
          </div><!--widget-about end-->

          <div class="online-user">
            <div class="profile_topbar" *ngFor="let i of [0,1,2,3,4,5]">
              <div class="user-detail">
                <div class="profile-thumb">
                  <img class="profile-thumb" src="../../../assets/images/girl.jpeg" alt="">
                  <span class="online-dot"></span>
                </div>
                <div class="usy-name">
                  <h3>Intia Parvin</h3>
                  <span>Hello! How are you?</span>
                </div>
              </div>
              <div class="add-op">
                <span>5</span>
              </div>
            </div>
          </div>

        </ion-col><!--END of Right Sidebar-->

      </ion-row>
    </ion-grid>
  </div>

  <ng-template #loading>
    <p style="text-align: center">Loading...</p>
  </ng-template>

</ion-content>
