<div class="user-data full-width" *ngIf="user$ | async; else loading; let userInfo">
  <div class="user-profile">
    <div class="username-dt">
      <div class="usr-pic">
        <img [src]="!userInfo.imageThumbnail ? '../../../assets/images/girl.jpeg' : userInfo.imageThumbnail" alt="">
      </div>
    </div><!--username-dt end-->
    <div class="user-specs">
      <h3>
        {{userInfo.firstName ? userInfo.firstName : 'Unnamed'}}
        {{userInfo.lastName ? userInfo.lastName : ''}}
      </h3>
      <span>Graphic Designer at Self Employed</span>
    </div>
  </div><!--user-profile end-->
  <ul class="user-fw-status">
    <li>
      <h4>Friends</h4>
      <span>340</span>
    </li>
    <li>
      <h4>Followers</h4>
      <span>420</span>
    </li>
    <li>
      <ion-button routerLink="/my-profile" fill="outline">View Profile</ion-button>
    </li>
  </ul>
</div><!--user-data end-->


<ng-template #loading>
  <div class="spin">
    <ion-spinner color="primary" name="dots"></ion-spinner>
  </div>
</ng-template>
