
<ion-content class="wrapper">

  <app-profile-update-form navigateUrl="/"></app-profile-update-form>

  <div class="footer">
    <div class="link-area">
      <ul class="left">
        <li><a class="link" href="#">Help Center</a></li>
        <li><a class="link" href="#">Privacy Policy</a></li>
        <li><a class="link" href="#">Cookies Policy</a></li>
        <li><a class="link" href="#">Copyright Policy</a></li>
      </ul>
      <div class="right">
        <p>&copy; Copyright 2020 All Right Reserved StarDigi International</p>
      </div>
    </div>
  </div> <!-- LOGIN FOOTER -->

</ion-content>
