.text-container {
  width: 100%;
  min-height: 300px;
  font-family: 'CircularStdMedium', sans-serif;
  font-size: 28px;
  text-align: center;
  padding: 45px;
  color: #F2F2F2;
  background-color: #ffb13b;
  background-image: linear-gradient(147deg, #ffb13b 0%, #FF2525 74%);


  //background-color: #F05922;
  //background-image: linear-gradient(147deg, #F05922 0%, #FF2525 74%);
}

.text-view {
  padding: 14px;
  p {
    font-family: 'CircularStd', sans-serif;
    color: #686868;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  span {
    color: #e44d3a;
    font-weight: 600;
  }
}
