/* ================== USER Cover =================== */
.profile-top-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  min-height: 570px;
  //&:hover {
  //  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  //}
}

.inner-view {
  max-width: 940px;
  margin: auto;
}

.img-cover {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .btn-group {
    position: relative;
    top: -85px;
    padding: 8px 15px;
  }
}


.profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
}
.user-pro-img {
  width: 170px;
  height: 170px;
  margin-top: -170px;
}
.user-pro-img > a {
  font-size: 16px;
  padding: 6px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  background-color: #e44d3a;
  position: relative;
  top: -45px;
  left: 70%;
}

.user-pro-img img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 5px solid #fff;
}

// Name Text..
.name-text {
  padding: 5px 0;
  margin-bottom: 10px;

  .title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'CircularStdMedium', sans-serif;
    font-size: 32px;
  }
  .info {
    .desc {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        margin-right: 6px;
      }
      span {
        color: #737373;
        font-family: 'CircularStdMedium', sans-serif;
        font-size: 18px;
      }
    }
  }

}

// Small Grid..
.short-details {
  .grid-small {
    width: 400px;
    margin: auto;

    .big {
      font-family: 'CircularStdMedium', sans-serif;
      font-size: 20px;
    }
    .small {
      font-family: 'CircularStdMedium', sans-serif;
      font-size: 17px;
    }
  }
}

.bottom-container {
  max-width: 920px;
  margin: auto;
}

.posts-section {
  width: 100%;
}
.post-bar {
  float: left;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}


/* ========== MAIN POST VIEW ========== */
.post-view {
  // border-bottom: 1px solid #e5e5e5;
  .text-view {
    padding: 14px;
    p {
      font-family: 'CircularStd', sans-serif;
      color: #686868;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    span {
      color: #e44d3a;
      font-weight: 600;
    }
  }

  .image-view {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }
}


// Responsive..
@media only screen and (max-device-width: 767px) {
  ion-col {
    padding: 0;
  }

  /* ================== USER Cover =================== */
  .profile-top-container {
    min-height: 400px;
  }
  .inner-view {
    width: 100%;
  }

  .img-cover {
    .btn-group {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .user-pro-img {
    width: 120px;
    height: 120px;
    margin-top: -90px;
  }

  // Name Text..
  .name-text {
    padding: 0;
    margin-bottom: 0;

    .title {
      font-size: 26px;
    }
    .info {
      .desc {
        span {
          font-size: 16px;
        }
      }
    }

  }

  // Small Grid..
  .short-details {
    .grid-small {
      width: 100%;
      margin: auto;

      .big {
        font-family: 'CircularStdMedium', sans-serif;
        font-size: 17px;
      }
      .small {
        font-family: 'CircularStdMedium', sans-serif;
        font-size: 15px;
      }
    }
  }

}
