<ion-header>
  <star-toolbar></star-toolbar>
</ion-header>

<ion-content>
  <div class="" *ngIf="user$ | async; else loading; let userInfo">
    <div class="profile-top-container">

      <div class="inner-view">
        <div class="img-cover">
          <img src="../../../assets/images/cover.jpg" alt="">
          <div class="btn-group">
            <ion-button class="ion-float-right" color="light">
              <ion-icon slot="start" name="camera"></ion-icon>
              Edit Cover Photo
            </ion-button>
          </div>
        </div>

        <div class="profile-pic">
          <div class="user-pro-img">
            <img [src]="!userInfo.imageThumbnail ? '../../../assets/images/girl.jpeg' : userInfo.imageThumbnail" alt="">
            <a><i class="fa fa-camera"></i></a>
          </div><!--user-pro-img end-->
        </div>

        <div class="name-text">
          <h2 class="title">{{!userInfo.name ? 'Unnamed' : userInfo.name}}</h2>
          <div class="info">
            <p class="desc">
              <ion-icon name="checkmark"></ion-icon>
              <span>Work at Softlab IT</span>
            </p>
          </div>
        </div>
        <div class="short-details">
          <ion-grid class="grid-small ion-no-padding">
            <ion-row>
              <ion-col size="4">
                <ion-card>
                  <ion-card-content class="ion-text-center">
                    <h4 class="big">100</h4>
                    <h5 class="small">Friends</h5>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="4">
                <ion-card>
                  <ion-card-content class="ion-text-center">
                    <h4 class="big">400</h4>
                    <h5 class="small">Followers</h5>
                  </ion-card-content>
                </ion-card>
              </ion-col>

              <ion-col size="4">
                <ion-card>
                  <ion-card-content class="ion-text-center">
                    <h4 class="big">500</h4>
                    <h5 class="small">Posts</h5>
                  </ion-card-content>
                </ion-card>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
      </div>

    </div>

    <div class="bottom-container">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-card>
              <ion-list>
                <ion-item lines="full" button (click)="buttonClick()" *ngFor="let link of sideLinks">
                  <ion-button slot="start" fill="clear">
                    <ion-icon slot="icon-only" [name]="link.icon"></ion-icon>
                  </ion-button>
                  <ion-label class="ion-float-right">
                    {{link.title}}
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="8">
            <app-post-feed-view *ngFor="let post of postList | reverse" [userPost]="post"></app-post-feed-view>

            <ion-infinite-scroll *ngIf="this.finishedLoading !== true" (ionInfinite)="onInfiniteScroll($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <ng-template #loading>
    Loading...
  </ng-template>

</ion-content>
